{
  "openapi": "3.1.0",
  "info": {
    "title": "EntryWise API",
    "description": "Zalando Guidelines-compliant Form Backend-as-a-Service running globally on Cloudflare Workers.",
    "version": "0.2.0-beta.1",
    "contact": {
      "name": "Webbound",
      "url": "https://webbound.in",
      "email": "info@webbound.in"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://entrywise.webbound.in",
      "description": "Production server"
    },
    {
      "url": "https://localhost:8787",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Submissions",
      "description": "Form submission ingestion and submission inbox management"
    },
    {
      "name": "Companies",
      "description": "Company account and email delivery provider configuration"
    },
    {
      "name": "Sites",
      "description": "Site registration, domain authorization, and notification settings"
    },
    {
      "name": "Fields",
      "description": "Dynamic form field schema definitions"
    },
    {
      "name": "Authentication",
      "description": "TOTP authentication and JWT token generation"
    },
    {
      "name": "companies",
      "description": "Company operations (legacy)"
    },
    {
      "name": "sites",
      "description": "Site operations (legacy)"
    },
    {
      "name": "fields",
      "description": "Field operations (legacy)"
    },
    {
      "name": "auth",
      "description": "Authentication operations (legacy)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your 1-hour JWT token or static ADMIN_API_KEY"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Live site API key (format: ew_live_...)"
      },
      "turnstileToken": {
        "type": "apiKey",
        "in": "header",
        "name": "cf-turnstile-response",
        "description": "Cloudflare Turnstile challenge token"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/v1/auth/get-token": {
      "post": {
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "description": "Whether the request was successful",
                      "example": true
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "The JWT token for authentication",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        }
                      },
                      "required": [
                        "token"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Success"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid TOTP code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 400,
                      "description": "The HTTP status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Bad request"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid TOTP code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 401,
                      "description": "The HTTP status code",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to generate token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 500,
                      "description": "The HTTP status code",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Internal server error"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postV1AuthGet-token",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "summary": "Get authentication token",
        "description": "Get a JWT token using TOTP code",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The TOTP code for authentication",
                    "example": "123456"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "responses": {
          "200": {
            "description": "Companies fetched successfully"
          },
          "401": {
            "description": "Authentication required"
          }
        },
        "operationId": "getV1Companies",
        "tags": [
          "Companies"
        ],
        "parameters": [],
        "summary": "List companies",
        "description": "Retrieve a paginated list of companies",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "Company created successfully"
          },
          "400": {
            "description": "Invalid company payload"
          },
          "401": {
            "description": "Authentication required"
          }
        },
        "operationId": "postV1Companies",
        "tags": [
          "Companies"
        ],
        "parameters": [],
        "summary": "Create company",
        "description": "Create a new company with an email delivery provider",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the company",
                    "example": "Acme Inc"
                  },
                  "email_provider": {
                    "type": "string",
                    "enum": [
                      "resend",
                      "mailersend",
                      "mailtrap",
                      "smtp2go",
                      "cloudflare"
                    ],
                    "description": "The email provider to use. Use \"cloudflare\" (default) to send via Cloudflare Email Service at no extra cost.",
                    "example": "cloudflare",
                    "default": "cloudflare"
                  },
                  "email_provider_token": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The API token for the email provider. Not required when using Cloudflare Email Service.",
                    "example": "re_123456789"
                  },
                  "from_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address to send from. Fixed to no-reply@entrywise.webbound.in when using Cloudflare Email Service.",
                    "example": "info@acme.com"
                  },
                  "from_name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The sender display name. Fixed to \"EntryWise\" when using Cloudflare Email Service.",
                    "example": "Acme Inc"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Company fetched successfully"
          },
          "404": {
            "description": "Company not found"
          }
        },
        "operationId": "getV1CompaniesById",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get company",
        "description": "Get company details by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "Company updated successfully"
          },
          "400": {
            "description": "Invalid update payload"
          },
          "404": {
            "description": "Company not found"
          }
        },
        "operationId": "patchV1CompaniesById",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Patch company",
        "description": "Partially update company properties",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the company",
                    "example": "Acme Inc"
                  },
                  "email_provider": {
                    "type": "string",
                    "enum": [
                      "resend",
                      "mailersend",
                      "mailtrap",
                      "smtp2go",
                      "cloudflare"
                    ],
                    "description": "The email provider to use. Use \"cloudflare\" (default) to send via Cloudflare Email Service at no extra cost.",
                    "example": "cloudflare",
                    "default": "cloudflare"
                  },
                  "email_provider_token": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The API token for the email provider. Not required when using Cloudflare Email Service.",
                    "example": "re_123456789"
                  },
                  "from_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address to send from. Fixed to no-reply@entrywise.webbound.in when using Cloudflare Email Service.",
                    "example": "info@acme.com"
                  },
                  "from_name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The sender display name. Fixed to \"EntryWise\" when using Cloudflare Email Service.",
                    "example": "Acme Inc"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Company deleted successfully"
          },
          "404": {
            "description": "Company not found"
          }
        },
        "operationId": "deleteV1CompaniesById",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete company",
        "description": "Delete a company and all child sites and fields (cascading)",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/companies/{id}/test-email": {
      "post": {
        "responses": {
          "200": {
            "description": "Test email dispatched successfully"
          },
          "400": {
            "description": "Invalid recipient or email delivery failed"
          },
          "404": {
            "description": "Company not found"
          }
        },
        "operationId": "postV1CompaniesByIdTest-email",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Send test email",
        "description": "Verify company email provider credentials by sending a test message",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/companies/{company_id}/sites": {
      "post": {
        "responses": {
          "201": {
            "description": "Site created successfully"
          },
          "400": {
            "description": "Invalid site payload"
          }
        },
        "operationId": "postV1CompaniesByCompany_idSites",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Create site under company",
        "description": "Create a new site belonging to this company",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The domain name of the site",
                    "example": "example.com"
                  },
                  "admin_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address where form submissions are delivered for this site",
                    "example": "admin@example.com"
                  },
                  "timezone": {
                    "type": "string",
                    "minLength": 1,
                    "default": "UTC",
                    "description": "IANA timezone string used to localise the submission timestamp in notification emails",
                    "example": "Asia/Kolkata"
                  },
                  "auto_responder_enabled": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "default": false,
                    "description": "Whether to send an automatic confirmation email back to the submitter",
                    "example": true
                  },
                  "auto_responder_subject": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Custom subject line for auto-responder email",
                    "example": "Thank you for reaching out!"
                  },
                  "auto_responder_body": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Custom message body for auto-responder email",
                    "example": "We received your message and will get back to you shortly."
                  },
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "Webhook URL to dispatch real-time submission payloads to (Slack, Discord, Zapier, etc.)",
                    "example": "https://hooks.slack.com/services/..."
                  },
                  "webhook_secret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Secret key used to compute the HMAC-SHA256 signature in X-EntryWise-Signature",
                    "example": "whsec_secret_key_123"
                  },
                  "turnstile_secret_key": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Cloudflare Turnstile secret key. When provided, cf-turnstile-response is strictly verified.",
                    "example": "0x4AAAAAA..."
                  }
                },
                "required": [
                  "domain",
                  "admin_email"
                ]
              }
            }
          }
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "Sites fetched successfully"
          }
        },
        "operationId": "getV1CompaniesByCompany_idSites",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "List sites for company",
        "description": "List all sites belonging to this company",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/sites": {
      "get": {
        "responses": {
          "200": {
            "description": "Sites fetched successfully"
          },
          "401": {
            "description": "Authentication required"
          }
        },
        "operationId": "getV1Sites",
        "tags": [
          "Sites"
        ],
        "parameters": [],
        "summary": "List sites",
        "description": "Retrieve a paginated list of sites, optionally filtered by company_id",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "Site created successfully"
          },
          "400": {
            "description": "Invalid site payload"
          },
          "401": {
            "description": "Authentication required"
          }
        },
        "operationId": "postV1Sites",
        "tags": [
          "Sites"
        ],
        "parameters": [],
        "summary": "Create site",
        "description": "Create a new site with company_id provided in request body",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/sites/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Site retrieved successfully"
          },
          "404": {
            "description": "Site not found"
          }
        },
        "operationId": "getV1SitesById",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get site",
        "description": "Get site details by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "Site updated successfully"
          },
          "400": {
            "description": "Invalid update payload"
          },
          "404": {
            "description": "Site not found"
          }
        },
        "operationId": "patchV1SitesById",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Patch site",
        "description": "Partially update site properties (domain, admin email, timezone, auto-responder, webhook, turnstile)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The domain name of the site",
                    "example": "example.com"
                  },
                  "admin_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address where form submissions are delivered for this site",
                    "example": "admin@example.com"
                  },
                  "timezone": {
                    "type": "string",
                    "minLength": 1,
                    "default": "UTC",
                    "description": "IANA timezone string used to localise the submission timestamp in notification emails",
                    "example": "Asia/Kolkata"
                  },
                  "auto_responder_enabled": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "default": false,
                    "description": "Whether to send an automatic confirmation email back to the submitter",
                    "example": true
                  },
                  "auto_responder_subject": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Custom subject line for auto-responder email",
                    "example": "Thank you for reaching out!"
                  },
                  "auto_responder_body": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Custom message body for auto-responder email",
                    "example": "We received your message and will get back to you shortly."
                  },
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "Webhook URL to dispatch real-time submission payloads to (Slack, Discord, Zapier, etc.)",
                    "example": "https://hooks.slack.com/services/..."
                  },
                  "webhook_secret": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Secret key used to compute the HMAC-SHA256 signature in X-EntryWise-Signature",
                    "example": "whsec_secret_key_123"
                  },
                  "turnstile_secret_key": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Cloudflare Turnstile secret key. When provided, cf-turnstile-response is strictly verified.",
                    "example": "0x4AAAAAA..."
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Site deleted successfully"
          },
          "404": {
            "description": "Site not found"
          }
        },
        "operationId": "deleteV1SitesById",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete site",
        "description": "Delete a site and all its fields and submissions permanently",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/sites/{site_id}/fields": {
      "get": {
        "responses": {
          "200": {
            "description": "Fields retrieved successfully"
          },
          "404": {
            "description": "Site not found"
          }
        },
        "operationId": "getV1SitesBySite_idFields",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "List fields for site",
        "description": "Get all dynamic field definitions for this site",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "Field created successfully"
          },
          "400": {
            "description": "Invalid field payload"
          },
          "404": {
            "description": "Site not found"
          }
        },
        "operationId": "postV1SitesBySite_idFields",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Add field to site",
        "description": "Add a new dynamic field definition to this site",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the field",
                    "example": "firstName"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "email",
                      "phone",
                      "url",
                      "file"
                    ],
                    "description": "The type of field",
                    "example": "text"
                  }
                },
                "required": [
                  "name",
                  "type"
                ]
              }
            }
          }
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "Fields replaced successfully"
          },
          "400": {
            "description": "Invalid fields payload"
          },
          "404": {
            "description": "Site not found"
          }
        },
        "operationId": "putV1SitesBySite_idFields",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Replace all fields for site",
        "description": "Atomically replace all field definitions for this site",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The name of the field",
                          "example": "firstName"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "email",
                            "phone",
                            "url",
                            "file"
                          ],
                          "description": "The type of field",
                          "example": "text"
                        }
                      },
                      "required": [
                        "name",
                        "type"
                      ]
                    },
                    "description": "Array of fields to create",
                    "example": [
                      {
                        "name": "firstName",
                        "type": "text"
                      },
                      {
                        "name": "email",
                        "type": "email"
                      },
                      {
                        "name": "phone",
                        "type": "phone"
                      }
                    ]
                  }
                },
                "required": [
                  "fields"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/sites/{site_id}/fields/{field_id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "Field updated successfully"
          },
          "400": {
            "description": "Invalid update payload"
          },
          "404": {
            "description": "Field or site not found"
          }
        },
        "operationId": "patchV1SitesBySite_idFieldsByField_id",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "field_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Patch field",
        "description": "Partially update field name or type",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the field",
                    "example": "firstName"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "email",
                      "phone",
                      "url",
                      "file"
                    ],
                    "description": "The type of field",
                    "example": "text"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Field deleted successfully"
          },
          "404": {
            "description": "Field or site not found"
          }
        },
        "operationId": "deleteV1SitesBySite_idFieldsByField_id",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "field_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete field",
        "description": "Delete a field definition from the site",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/sites/{site_id}/submissions": {
      "get": {
        "responses": {
          "200": {
            "description": "Paginated list of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the submission",
                            "example": "sub_12345678"
                          },
                          "site_id": {
                            "type": "string",
                            "description": "The site this submission belongs to",
                            "example": "site_123"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": {},
                            "description": "Map of submitted form field key-values",
                            "example": {
                              "name": "Jane Doe",
                              "email": "jane@example.com",
                              "message": "Hello world"
                            }
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filename": {
                                  "type": "string",
                                  "description": "Original name of the uploaded file",
                                  "example": "resume.pdf"
                                },
                                "size": {
                                  "type": "number",
                                  "description": "Size of the file in bytes",
                                  "example": 1048576
                                },
                                "type": {
                                  "type": "string",
                                  "description": "MIME type of the file",
                                  "example": "application/pdf"
                                }
                              },
                              "required": [
                                "filename"
                              ]
                            },
                            "description": "Metadata for file attachments received with the submission"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "new",
                              "read",
                              "archived",
                              "spam"
                            ],
                            "description": "Submission processing status",
                            "example": "new"
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "IP address of the submitter",
                            "example": "192.0.2.1"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the submission was received",
                            "example": "2026-09-23T00:00:00Z"
                          }
                        },
                        "required": [
                          "id",
                          "site_id",
                          "data",
                          "status",
                          "created_at"
                        ]
                      },
                      "description": "List of items for the current page"
                    },
                    "total_count": {
                      "type": "number",
                      "description": "Total number of items matching the query",
                      "example": 42
                    },
                    "limit": {
                      "type": "number",
                      "description": "Maximum number of items per page",
                      "example": 20
                    },
                    "offset": {
                      "type": "number",
                      "description": "Offset of the first item on this page",
                      "example": 0
                    }
                  },
                  "required": [
                    "items",
                    "total_count",
                    "limit",
                    "offset"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "URI reference that identifies the problem type",
                      "example": "https://entrywise.webbound.in/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem",
                      "example": "Unprocessable Entity"
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 422
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence of the problem",
                      "example": "Form submission validation failed for one or more fields."
                    },
                    "instance": {
                      "type": "string",
                      "description": "URI reference that identifies the specific occurrence of the problem",
                      "example": "/v1/submissions/req_12345"
                    },
                    "invalid_params": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The parameter or field that caused the error",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Explanation of why the parameter is invalid",
                            "example": "Invalid email address format"
                          }
                        },
                        "required": [
                          "name",
                          "reason"
                        ]
                      },
                      "description": "List of specific validation errors"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getV1SitesBySite_idSubmissions",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "List site submissions",
        "description": "Retrieve a paginated list of submissions for a site with optional status and search filtering.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/sites/{site_id}/submissions/export": {
      "get": {
        "responses": {
          "200": {
            "description": "Export file attachment (CSV or JSON)"
          }
        },
        "operationId": "getV1SitesBySite_idSubmissionsExport",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Export site submissions",
        "description": "Export all site submissions as an RFC 4180 CSV spreadsheet or JSON file.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/sites/{site_id}/submissions/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Submission details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the submission",
                      "example": "sub_12345678"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "The site this submission belongs to",
                      "example": "site_123"
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "Map of submitted form field key-values",
                      "example": {
                        "name": "Jane Doe",
                        "email": "jane@example.com",
                        "message": "Hello world"
                      }
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string",
                            "description": "Original name of the uploaded file",
                            "example": "resume.pdf"
                          },
                          "size": {
                            "type": "number",
                            "description": "Size of the file in bytes",
                            "example": 1048576
                          },
                          "type": {
                            "type": "string",
                            "description": "MIME type of the file",
                            "example": "application/pdf"
                          }
                        },
                        "required": [
                          "filename"
                        ]
                      },
                      "description": "Metadata for file attachments received with the submission"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "new",
                        "read",
                        "archived",
                        "spam"
                      ],
                      "description": "Submission processing status",
                      "example": "new"
                    },
                    "ip_address": {
                      "type": "string",
                      "description": "IP address of the submitter",
                      "example": "192.0.2.1"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the submission was received",
                      "example": "2026-09-23T00:00:00Z"
                    }
                  },
                  "required": [
                    "id",
                    "site_id",
                    "data",
                    "status",
                    "created_at"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Submission not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "URI reference that identifies the problem type",
                      "example": "https://entrywise.webbound.in/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem",
                      "example": "Unprocessable Entity"
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 422
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence of the problem",
                      "example": "Form submission validation failed for one or more fields."
                    },
                    "instance": {
                      "type": "string",
                      "description": "URI reference that identifies the specific occurrence of the problem",
                      "example": "/v1/submissions/req_12345"
                    },
                    "invalid_params": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The parameter or field that caused the error",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Explanation of why the parameter is invalid",
                            "example": "Invalid email address format"
                          }
                        },
                        "required": [
                          "name",
                          "reason"
                        ]
                      },
                      "description": "List of specific validation errors"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getV1SitesBySite_idSubmissionsById",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get submission details",
        "description": "Retrieve details of a single submission by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "Submission updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the submission",
                      "example": "sub_12345678"
                    },
                    "site_id": {
                      "type": "string",
                      "description": "The site this submission belongs to",
                      "example": "site_123"
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "Map of submitted form field key-values",
                      "example": {
                        "name": "Jane Doe",
                        "email": "jane@example.com",
                        "message": "Hello world"
                      }
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string",
                            "description": "Original name of the uploaded file",
                            "example": "resume.pdf"
                          },
                          "size": {
                            "type": "number",
                            "description": "Size of the file in bytes",
                            "example": 1048576
                          },
                          "type": {
                            "type": "string",
                            "description": "MIME type of the file",
                            "example": "application/pdf"
                          }
                        },
                        "required": [
                          "filename"
                        ]
                      },
                      "description": "Metadata for file attachments received with the submission"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "new",
                        "read",
                        "archived",
                        "spam"
                      ],
                      "description": "Submission processing status",
                      "example": "new"
                    },
                    "ip_address": {
                      "type": "string",
                      "description": "IP address of the submitter",
                      "example": "192.0.2.1"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the submission was received",
                      "example": "2026-09-23T00:00:00Z"
                    }
                  },
                  "required": [
                    "id",
                    "site_id",
                    "data",
                    "status",
                    "created_at"
                  ]
                }
              }
            }
          }
        },
        "operationId": "patchV1SitesBySite_idSubmissionsById",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Update submission status",
        "description": "Update the processing status of a submission (e.g. mark as read, archived, or spam).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "new",
                      "read",
                      "archived",
                      "spam"
                    ],
                    "description": "New status for the submission",
                    "example": "read"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Submission deleted successfully (No Content)"
          }
        },
        "operationId": "deleteV1SitesBySite_idSubmissionsById",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete submission",
        "description": "Delete a submission record permanently.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/submissions": {
      "post": {
        "responses": {
          "200": {
            "description": "Form submission received successfully"
          },
          "303": {
            "description": "Redirect to _redirect / _next URL for HTML form submissions"
          },
          "422": {
            "description": "Validation failed or bot challenge failed (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "URI reference that identifies the problem type",
                      "example": "https://entrywise.webbound.in/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem",
                      "example": "Unprocessable Entity"
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 422
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence of the problem",
                      "example": "Form submission validation failed for one or more fields."
                    },
                    "instance": {
                      "type": "string",
                      "description": "URI reference that identifies the specific occurrence of the problem",
                      "example": "/v1/submissions/req_12345"
                    },
                    "invalid_params": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The parameter or field that caused the error",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Explanation of why the parameter is invalid",
                            "example": "Invalid email address format"
                          }
                        },
                        "required": [
                          "name",
                          "reason"
                        ]
                      },
                      "description": "List of specific validation errors"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "URI reference that identifies the problem type",
                      "example": "https://entrywise.webbound.in/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem",
                      "example": "Unprocessable Entity"
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 422
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence of the problem",
                      "example": "Form submission validation failed for one or more fields."
                    },
                    "instance": {
                      "type": "string",
                      "description": "URI reference that identifies the specific occurrence of the problem",
                      "example": "/v1/submissions/req_12345"
                    },
                    "invalid_params": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The parameter or field that caused the error",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Explanation of why the parameter is invalid",
                            "example": "Invalid email address format"
                          }
                        },
                        "required": [
                          "name",
                          "reason"
                        ]
                      },
                      "description": "List of specific validation errors"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postV1Submissions",
        "tags": [
          "Submissions"
        ],
        "parameters": [],
        "summary": "Submit form data",
        "description": "Public endpoint to submit form data via JSON, multipart/form-data, or urlencoded.",
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/submissions/{key}": {
      "post": {
        "responses": {
          "200": {
            "description": "Form submission received successfully"
          },
          "303": {
            "description": "Redirect to _redirect / _next URL for HTML form submissions"
          },
          "422": {
            "description": "Validation failed or bot challenge failed (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "URI reference that identifies the problem type",
                      "example": "https://entrywise.webbound.in/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem",
                      "example": "Unprocessable Entity"
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 422
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence of the problem",
                      "example": "Form submission validation failed for one or more fields."
                    },
                    "instance": {
                      "type": "string",
                      "description": "URI reference that identifies the specific occurrence of the problem",
                      "example": "/v1/submissions/req_12345"
                    },
                    "invalid_params": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The parameter or field that caused the error",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Explanation of why the parameter is invalid",
                            "example": "Invalid email address format"
                          }
                        },
                        "required": [
                          "name",
                          "reason"
                        ]
                      },
                      "description": "List of specific validation errors"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "URI reference that identifies the problem type",
                      "example": "https://entrywise.webbound.in/problems/unprocessable-entity"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem",
                      "example": "Unprocessable Entity"
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 422
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence of the problem",
                      "example": "Form submission validation failed for one or more fields."
                    },
                    "instance": {
                      "type": "string",
                      "description": "URI reference that identifies the specific occurrence of the problem",
                      "example": "/v1/submissions/req_12345"
                    },
                    "invalid_params": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The parameter or field that caused the error",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Explanation of why the parameter is invalid",
                            "example": "Invalid email address format"
                          }
                        },
                        "required": [
                          "name",
                          "reason"
                        ]
                      },
                      "description": "List of specific validation errors"
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postV1SubmissionsByKey",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "key",
            "required": true
          }
        ],
        "summary": "Submit form data",
        "description": "Public endpoint to submit form data via JSON, multipart/form-data, or urlencoded.",
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/get-token": {
      "post": {
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "description": "Whether the request was successful",
                      "example": true
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "The JWT token for authentication",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        }
                      },
                      "required": [
                        "token"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Success"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid TOTP code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 400,
                      "description": "The HTTP status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Bad request"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid TOTP code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 401,
                      "description": "The HTTP status code",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Unauthorized"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to generate token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 500,
                      "description": "The HTTP status code",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Internal server error"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postAuthGet-token",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "summary": "Get authentication token",
        "description": "Get a JWT token using TOTP code",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The TOTP code for authentication",
                    "example": "123456"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        }
      }
    },
    "/companies": {
      "post": {
        "responses": {
          "201": {
            "description": "Company created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "description": "Whether the request was successful",
                      "example": true
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier for the company",
                          "example": "company_123"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The name of the company",
                          "example": "Acme Inc"
                        },
                        "email_provider": {
                          "type": "string",
                          "enum": [
                            "resend",
                            "mailersend",
                            "mailtrap",
                            "smtp2go",
                            "cloudflare"
                          ],
                          "description": "The email provider to use. Use \"cloudflare\" (default) to send via Cloudflare Email Service at no extra cost.",
                          "example": "cloudflare",
                          "default": "cloudflare"
                        },
                        "email_provider_token": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The API token for the email provider. Not required when using Cloudflare Email Service.",
                          "example": "re_123456789"
                        },
                        "from_email": {
                          "type": "string",
                          "format": "email",
                          "description": "The email address to send from. Fixed to no-reply@entrywise.webbound.in when using Cloudflare Email Service.",
                          "example": "info@acme.com"
                        },
                        "from_name": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The sender display name. Fixed to \"EntryWise\" when using Cloudflare Email Service.",
                          "example": "Acme Inc"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time the company was created",
                          "example": "2021-01-01T00:00:00Z"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "email_provider",
                        "created_at"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Success"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 400,
                      "description": "The HTTP status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Bad request"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to create company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 500,
                      "description": "The HTTP status code",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Internal server error"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postCompanies",
        "tags": [
          "companies"
        ],
        "parameters": [],
        "summary": "Create a company",
        "description": "Create a company",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the company",
                    "example": "Acme Inc"
                  },
                  "email_provider": {
                    "type": "string",
                    "enum": [
                      "resend",
                      "mailersend",
                      "mailtrap",
                      "smtp2go",
                      "cloudflare"
                    ],
                    "description": "The email provider to use. Use \"cloudflare\" (default) to send via Cloudflare Email Service at no extra cost.",
                    "example": "cloudflare",
                    "default": "cloudflare"
                  },
                  "email_provider_token": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The API token for the email provider. Not required when using Cloudflare Email Service.",
                    "example": "re_123456789"
                  },
                  "from_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address to send from. Fixed to no-reply@entrywise.webbound.in when using Cloudflare Email Service.",
                    "example": "info@acme.com"
                  },
                  "from_name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The sender display name. Fixed to \"EntryWise\" when using Cloudflare Email Service.",
                    "example": "Acme Inc"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "Companies fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "description": "Whether the request was successful",
                      "example": true
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier for the company",
                            "example": "company_123"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "description": "The name of the company",
                            "example": "Acme Inc"
                          },
                          "email_provider": {
                            "type": "string",
                            "enum": [
                              "resend",
                              "mailersend",
                              "mailtrap",
                              "smtp2go",
                              "cloudflare"
                            ],
                            "description": "The email provider to use. Use \"cloudflare\" (default) to send via Cloudflare Email Service at no extra cost.",
                            "example": "cloudflare",
                            "default": "cloudflare"
                          },
                          "email_provider_token": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The API token for the email provider. Not required when using Cloudflare Email Service.",
                            "example": "re_123456789"
                          },
                          "from_email": {
                            "type": "string",
                            "format": "email",
                            "description": "The email address to send from. Fixed to no-reply@entrywise.webbound.in when using Cloudflare Email Service.",
                            "example": "info@acme.com"
                          },
                          "from_name": {
                            "type": "string",
                            "minLength": 1,
                            "description": "The sender display name. Fixed to \"EntryWise\" when using Cloudflare Email Service.",
                            "example": "Acme Inc"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the company was created",
                            "example": "2021-01-01T00:00:00Z"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "email_provider",
                          "created_at"
                        ]
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Success"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to get companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 500,
                      "description": "The HTTP status code",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Internal server error"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getCompanies",
        "tags": [
          "companies"
        ],
        "parameters": [],
        "summary": "Get all companies",
        "description": "Get all companies",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/companies/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Company fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "description": "Whether the request was successful",
                      "example": true
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier for the company",
                          "example": "company_123"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The name of the company",
                          "example": "Acme Inc"
                        },
                        "email_provider": {
                          "type": "string",
                          "enum": [
                            "resend",
                            "mailersend",
                            "mailtrap",
                            "smtp2go",
                            "cloudflare"
                          ],
                          "description": "The email provider to use. Use \"cloudflare\" (default) to send via Cloudflare Email Service at no extra cost.",
                          "example": "cloudflare",
                          "default": "cloudflare"
                        },
                        "email_provider_token": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The API token for the email provider. Not required when using Cloudflare Email Service.",
                          "example": "re_123456789"
                        },
                        "from_email": {
                          "type": "string",
                          "format": "email",
                          "description": "The email address to send from. Fixed to no-reply@entrywise.webbound.in when using Cloudflare Email Service.",
                          "example": "info@acme.com"
                        },
                        "from_name": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The sender display name. Fixed to \"EntryWise\" when using Cloudflare Email Service.",
                          "example": "Acme Inc"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time the company was created",
                          "example": "2021-01-01T00:00:00Z"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "email_provider",
                        "created_at"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Success"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 404,
                      "description": "The HTTP status code",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Not found"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to get company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 500,
                      "description": "The HTTP status code",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Internal server error"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getCompaniesById",
        "tags": [
          "companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get a company",
        "description": "Get a company",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "Company updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "description": "Whether the request was successful",
                      "example": true
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier for the company",
                          "example": "company_123"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The name of the company",
                          "example": "Acme Inc"
                        },
                        "email_provider": {
                          "type": "string",
                          "enum": [
                            "resend",
[...]
