{
  "openapi": "3.1.0",
  "info": {
    "title": "EntryWise API",
    "description": "Zalando Guidelines-compliant Form Backend-as-a-Service running globally on Cloudflare Workers.",
    "version": "0.2.0-beta.1",
    "contact": {
      "name": "Webbound",
      "url": "https://webbound.in",
      "email": "info@webbound.in"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://entrywise.webbound.in",
      "description": "Production server"
    },
    {
      "url": "https://localhost:8787",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Submissions",
      "description": "Form submission ingestion and submission inbox management"
    },
    {
      "name": "Companies",
      "description": "Company account and email delivery provider configuration"
    },
    {
      "name": "Sites",
      "description": "Site registration, domain authorization, and notification settings"
    },
    {
      "name": "Fields",
      "description": "Dynamic form field schema definitions"
    },
    {
      "name": "Authentication",
      "description": "TOTP authentication and JWT token generation"
    },
    {
      "name": "companies",
      "description": "Company operations (legacy)"
    },
    {
      "name": "sites",
      "description": "Site operations (legacy)"
    },
    {
      "name": "fields",
      "description": "Field operations (legacy)"
    },
    {
      "name": "auth",
      "description": "Authentication operations (legacy)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your 1-hour JWT token or static ADMIN_API_KEY"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Live site API key (format: ew_live_...)"
      },
      "turnstileToken": {
        "type": "apiKey",
        "in": "header",
        "name": "cf-turnstile-response",
        "description": "Cloudflare Turnstile challenge token"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/v1/auth/get-token": {
      "post": {
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "description": "Whether the request was successful",
                      "example": true
                    },
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200,
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "The JWT token for authentication",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                          "format": "text",
                          "pattern": "^[a-zA-Z0-9_.-]+$"
                        }
                      },
                      "required": [
                        "token"
                      ],
                      "example": {
                        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Success",
                      "format": "text"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "data",
                    "message"
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid TOTP code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 400,
                      "description": "The HTTP status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Bad request",
                      "format": "text"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "401": {
            "description": "Invalid TOTP code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 401,
                      "description": "The HTTP status code",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Unauthorized",
                      "format": "text"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              },
              "Retry-After": {
                "description": "The number of seconds to wait before retrying the request",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "500": {
            "description": "Failed to generate token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "const": false,
                      "description": "Whether the request was successful",
                      "example": false
                    },
                    "status": {
                      "type": "number",
                      "const": 500,
                      "description": "The HTTP status code",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "The message of the response",
                      "example": "Internal server error",
                      "format": "text"
                    }
                  },
                  "required": [
                    "isSuccess",
                    "status",
                    "message"
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          }
        },
        "operationId": "postV1AuthGet-token",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "summary": "Get authentication token",
        "description": "Get a JWT token using TOTP code",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The TOTP code for authentication",
                    "example": "123456",
                    "format": "text",
                    "pattern": "^[0-9]{6}$"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          },
          "description": "Request body payload"
        }
      }
    },
    "/v1/companies": {
      "get": {
        "responses": {
          "200": {
            "description": "Companies fetched successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or parameter error (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              },
              "Retry-After": {
                "description": "The number of seconds to wait before retrying the request",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          }
        },
        "operationId": "getV1Companies",
        "tags": [
          "Companies"
        ],
        "parameters": [],
        "summary": "List companies",
        "description": "Retrieve a paginated list of companies",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "Company created successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "400": {
            "description": "Invalid company payload",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              },
              "Retry-After": {
                "description": "The number of seconds to wait before retrying the request",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          }
        },
        "operationId": "postV1Companies",
        "tags": [
          "Companies"
        ],
        "parameters": [],
        "summary": "Create company",
        "description": "Create a new company with an email delivery provider",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the company",
                    "example": "Acme Inc",
                    "format": "text"
                  },
                  "email_provider": {
                    "type": "string",
                    "enum": [
                      "resend",
                      "mailersend",
                      "mailtrap",
                      "smtp2go",
                      "cloudflare"
                    ],
                    "description": "The email provider to use. Use \"cloudflare\" (default) to send via Cloudflare Email Service at no extra cost.",
                    "example": "cloudflare",
                    "default": "cloudflare"
                  },
                  "email_provider_token": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The API token for the email provider. Not required when using Cloudflare Email Service.",
                    "example": "re_123456789",
                    "format": "text"
                  },
                  "from_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address to send from. Fixed to no-reply@entrywise.webbound.in when using Cloudflare Email Service.",
                    "example": "info@acme.com"
                  },
                  "from_name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The sender display name. Fixed to \"EntryWise\" when using Cloudflare Email Service.",
                    "example": "Acme Inc",
                    "format": "text"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          },
          "description": "Request body payload"
        }
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Company fetched successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or parameter error (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required or invalid bearer token (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              },
              "Retry-After": {
                "description": "The number of seconds to wait before retrying the request",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          }
        },
        "operationId": "getV1CompaniesById",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "text"
            },
            "required": true,
            "description": "The id parameter",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "summary": "Get company",
        "description": "Get company details by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "Company updated successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "400": {
            "description": "Invalid update payload",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required or invalid bearer token (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              },
              "Retry-After": {
                "description": "The number of seconds to wait before retrying the request",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          }
        },
        "operationId": "patchV1CompaniesById",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "text"
            },
            "required": true,
            "description": "The id parameter",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "summary": "Patch company",
        "description": "Partially update company properties",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the company",
                    "example": "Acme Inc",
                    "format": "text"
                  },
                  "email_provider": {
                    "type": "string",
                    "enum": [
                      "resend",
                      "mailersend",
                      "mailtrap",
                      "smtp2go",
                      "cloudflare"
                    ],
                    "description": "The email provider to use. Use \"cloudflare\" (default) to send via Cloudflare Email Service at no extra cost.",
                    "example": "cloudflare",
                    "default": "cloudflare"
                  },
                  "email_provider_token": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The API token for the email provider. Not required when using Cloudflare Email Service.",
                    "example": "re_123456789",
                    "format": "text"
                  },
                  "from_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address to send from. Fixed to no-reply@entrywise.webbound.in when using Cloudflare Email Service.",
                    "example": "info@acme.com"
                  },
                  "from_name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The sender display name. Fixed to \"EntryWise\" when using Cloudflare Email Service.",
                    "example": "Acme Inc",
                    "format": "text"
                  }
                }
              }
            }
          },
          "description": "Request body payload"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Company deleted successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or parameter error (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required or invalid bearer token (RFC 7807 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://entrywise.webbound.in/problems/bad-request"
                    },
                    "title": {
                      "type": "string",
                      "format": "text",
                      "example": "Bad Request"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 100,
                      "maximum": 599,
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "format": "text",
                      "example": "Request validation failed"
                    },
                    "instance": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/sites/req_123"
                    },
                    "invalid_params": {
                      "type": "array",
                      "example": [
                        {
                          "name": "email",
                          "reason": "Invalid email address format"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "reason"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "text",
                            "example": "email"
                          },
                          "reason": {
                            "type": "string",
                            "format": "text",
                            "example": "Invalid email address format"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "type": "https://entrywise.webbound.in/problems/bad-request",
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "Request validation failed",
                  "instance": "/v1/sites/req_123"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of remaining requests in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
              },
              "X-RateLimit-Reset": {
                "description": "The number of seconds until the current rate limit window resets",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 86400
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current time period",
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": 0,
                  "maximum": 100000
                }
[...]
